<div class="row">
  <div class="col-md-2">
    {{#power-select
      selected=selectedClient
      options=model
      onchange=(action "selectClient")
      as |networkClient|
    }}
    {{networkClient.id}}
    {{/power-select}}
  </div>
  <div class="col-md-2">
    <button class='btn-primary' {{action 'showPerformance' }}>
      Performance Graph
    </button>
    <button class='btn-primary' {{action 'showPerformance' }}>
      Bar Graph
    </button>
  </div>
</div>

{{#if showBar}}
  {{high-charts chartOptions=barOptions content=barData}}
{{else}}
  {{outlet}}
{{/if}}